<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Content-Language" content="${c.lang}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <title>${_('map.geo.admin.ch')}</title>

        <link rel="shortcut icon" type="image/x-icon" href="${url(h.versioned('/app/images/favicon.ico'))}" />

% if c.debug:
        <!-- fixme css in debug mode -->
        <!-- fixme js in debug mode -->
% else:
        <link rel="stylesheet" type="text/css" href="${url(h.versioned('/build/app.css'))}" />
        <script type="text/javascript" src="${url(h.versioned('/build/ext.js'))}"></script>
        <script type="text/javascript" src="${url(h.versioned('/build/app.js'))}"></script>
        <script type="text/javascript" src="${url(h.versioned('/build/lang-%s.js' % c.lang))}"></script>
% endif
        <script type="text/javascript">
            OpenLayers.ImgPath = "${url(h.versioned('/lib/GeoAdmin.ux/Map/img/'))}";
            OpenLayers.Lang.setCode("${c.lang}");
            GeoAdmin.printBaseUrl = "${url('/print/pdf/')}";
        </script>
    </head>

    <body>
        <div class="webBlindThis">${_('blind warning')}</div>
        <%include file="index.header.html"/>
    </body>
</html>
