<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Content-Language" content="${c.lang}" />

        <title>${_('map.geo.admin.ch')}</title>

        <link rel="shortcut icon" type="image/x-icon" href="${url(h.versioned('/app/images/favicon.ico'))}" />

% if c.debug:
        <!-- fixme -->
% else:
        <link rel="stylesheet" type="text/css" href="${url(h.versioned('/build/app.css'))}" />
% endif
        <script type="text/javascript" src="${url('/print/pdf/info.json', var='printCapabilities', url=url('/print/pdf/info.json'))}"></script>

% if c.debug:
        <!-- fixme -->
% else:
        <script type="text/javascript" src="${url(h.versioned('/build/app.js'))}"></script>
        <script type="text/javascript" src="${url(h.versioned('/build/lang-%s.js' % c.lang))}"></script>
% endif
        <script type="text/javascript">
            OpenLayers.ImgPath = "${url(h.versioned('/lib/GeoAdmin.ux/Map/img/'))}";
        </script>
    </head>

    <body>
        <%include file="index.header.html"/>
    </body>
</html>
