[buildout]
extends = buildout.cfg

[vars]
instanceid = ltaul
apache-entry-point = /${vars:instanceid}/
host = http://mf-geoadmin20t.bgdi.admin.ch
geoadmin-web-services-url = http://mf-chsdi0t.bgdi.admin.ch/ltaul
# mobile geo admin host
mobilegeoadmin_host = http://mfm-geoadmin0t.bgdi.admin.ch/ltaul/

[jsbuild]
compress = False


[modwsgi]
config-file = ${buildout:directory}/development.ini
